<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>

        <div>
            <h1><a href="/">from Rhyme.ru</a></h1>
        </div>
        
                
        <div>
            <br />
        </div>
        
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        

        <div>
            <h2><a href="">Kream & Tokyo Show Trip
            Iggy Azalea, Tyga</a></h2>
            <p>Премьера сразу двух новых треков от австрало-американской рэперши Игги Азалии — «Kream»,
            записанный при участии Тайги, а также «Tokyo Snow Trip». 
            Обе композиции войдут в грядущий альбом исполнительницы под названием «Survive The Summer».
            На данный момент предзаказ пластинки уже открыт, а сам релиз, который является долгожданным 
            для фанатов артистки после долгого затишья и публикации бесчисленного количества сниппетов, 
            появится в Сети уже 3-го августа.
            </p>
            <p>published: 14.06.2018, 22:14</p>
        </div>

        <div>
            <h2><a href="">Биполярочка
            Oxxxymiron</a></h2>
            <p>Спустя целых полтора года томных ожиданий фанаты Оксимирона наконец-то получили то, чего
            они так хотели — свежий трек от их кумира.
            По словам самого исполнителя, композиция была записана буквально сегодня ночью, однако на её
            качестве это не сильно отразилось.
            В долгожданной работе Мирон повествует фанатам о том, чем же он занимался эти долгие месяцы, 
            какие глобальные проблемы вставали на его и пути и что же ждёт слушателя в ближайшее время. 
            Окси вновь с нами, Окси вновь на бите и Окси вновь показывает остальным почему они никогда не
            доберутся до его уровня.
            Слушать в Apple Music: apple.co/2BU2wQU
            </p>
            <p>published: 14.06.2018, 22:14</p>
        </div>
    </body>
</html>